.list-of-cars-wrapper {
    display: flex;
    margin-left: 160px;
    margin-right: 160px;
    margin-top: -10px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.car-details-wrapper {
    background-color: #fff;
    width: fit-content;
    padding: 20px;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.car-name {
    font-weight: 700;
    color: #BCC7CD;
    font-size: 14px;
    font-style: normal;
}

.car-img {
    width: 308px;
}

.car-model {
    font-size: 16px;
    color: #303B40;
    font-weight: 400;
    margin-top: -8px;
}

.car-price {
    color: #303B40;
    font-size: 19px;
    margin-top: -8px;
    font-weight: bold;
}

.car-date-wrapper {
    align-content: center;
    margin-top: -8px;
}

.car-date {
    font-size: 14px;
    color: #303B40;
    font-weight: normal;
}

.calendar-icon {
    align-self: center;
}

.bookmark {
    margin-top: -45px;
    margin-left: 10px;
    cursor: pointer;
}

.bookmark-text {
    font-weight: 400;
    color:  #F5FCFF;
    font-size: 14px;
}

.bookmark-text:hover {
    color: #3CC08E;
}

.bookmark-icon {
    align-self: center;
}

.details-btn {
    margin: 20px 5px 0;
    border: none;
    background-color: #fff;
    font-size: 16px;
    color: #109BDF;
    font-weight: normal;
    font-style: normal;
    padding: 10px;
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .list-of-cars-wrapper {
        justify-content: center;
        margin: 0 20px;
    }

    .car-details-wrapper {
        margin-top: 15px;
        margin-right: 10px;
    }
}

@media screen and (max-width: 700px) {
    .car-img {
        width: 258px;
    }

    .car-details-wrapper {
        margin-top: 20px;
    }
}